h1 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
}

#blancaid {
    color: #fff;
}

p {
    margin: 0!important;
}

.card-body {
    padding: 1rem;
}